footer
	+pos(rel,null)
	.social
		+pos(abs, 20px 20px null null)
		+flexbox
		+media-breakpoint-down(md)
			+pos(static,unset)
			justify-content: center
			margin-bottom: 20px
		a
			display: block
			+ a
				margin-left: 10px
			.fa
				display: block
				width: 40px
				height: 40px
				line-height: 40px
				text-align: center
				color: $white
				+bor-rad(50px)
				&.fa-facebook
					background: $facebook
				&.fa-youtube-play
					background: $youtube
				&.fa-twitter
					background: $twitter
	+media-breakpoint-down(md)
		text-align: center
	.footer-top
		background: url(../img/bg.jpg) center center repeat
		padding: 60px 0px 0px
	.footer-col
		margin-bottom: 40px
	.footer-title, .module-title
		+fs(16rem)
		color: $orange
		font-weight: 600
		text-transform: uppercase
		margin-bottom: 10px
		+media-breakpoint-down(md)
			+fs(15rem)
		+media-breakpoint-down(sm)
			+fs(14rem)
			font-weight: 700
	.about-us
		ul
			li
				+fs(14rem)
				color: darken($white,60%)
				margin-bottom: 5px
				+media-breakpoint-down(sm)
					+fs(13rem)
				a
					&:hover
						color: $orange
	.subscribefrm
		background: darken($white,10%)
		+flexbox
		align-items: center
		max-width: 370px
		+media-breakpoint-down(md)
			max-width: 100%
		input
			width: calc(100% - 34px)
			background: none
			padding: 0px 15px
			border: none
			+fs(13rem)
		.subscribebutton
			width: 34px
			height: 34px
			+fs(0)
			color: $white
			background: $orange
			+flexbox
			justify-content: center
			align-items: center
			&:before
				content: '\f061'
				+fs(18rem)
	.footer-bottom
		background: $orange
		padding: 15px 0
	.copyright
		+fs(12rem)
		line-height: 1
		line-height: 20px
		color: $white
		opacity: 0.8
		+media-breakpoint-down(sm)
			+fs(11rem)
	.footer-nav
		+flexbox
		justify-content: flex-end
		+media-breakpoint-down(md)
			justify-content: center
		a
			display: block
			+fs(12rem)
			line-height: 20px
			color: $white
			opacity: 0.8
			+media-breakpoint-down(sm)
				+fs(11rem)
			+ a
				margin-left: 5px
				padding-left: 5px
				border-left: 1px solid color-rgba($white,0.5)
