body
	padding-top: 80px
	+media-breakpoint-down(lg)
		padding-top: 60px
header
	background: $black
	+pos(abs, 0 0 null 0)
	z-index: 1000
	.container
		+media-breakpoint-up(xl)
			max-width: 1640px
			width: 100%
			padding: 0px 30px
	+media-breakpoint-up(xl)
		&.hide
			+pos(fix, 0 0 null 0)
			+transform(translateY(-100%))
		&.minimal
			+transform(translateY(0))
			+transition(all,0.5s)
			.sitelogo
				+pos(static,unset)
				+flexbox
				justify-content: center
				align-items: center
				img
					height: 80px
	+media-breakpoint-down(lg)
		+pos(fix, 0 0 null 0)
		z-index: 1000
	.header-wrap
		+flexbox
		justify-content: center
		+pos(rel,null)
		+media-breakpoint-down(lg)
			+pos(static,null)
	.sitelogo
		+pos(abs, 110px null null 0)
		+media-breakpoint-down(lg)
			+pos(static,null)
			+flexbox
			justify-content: center
			align-items: center
			img
				height: 60px
	.col-right
		flex: auto
		+flexbox
		align-items: center
		align-content: center
		justify-content: flex-end
		height: 80px
		+media-breakpoint-down(lg)
			height: auto
	.btn-showmenu
		display: none
		+media-breakpoint-down(lg)
			+flexbox
			justify-content: center
			align-items: center
			align-content: center
			margin: 12px 15px 0 0
			+bor-rad(5px)
			background: none
			border: 1px solid color-rgba($yellow,0.5)
			color: $yellow
			width: 36px
			height: 36px
			+fs(18rem)
			+transition(all,0.5s)
			&.active
				background: $yellow
				border-color: $yellow
				color: $main
	.overlay
		+pos(fix, 60px null 0 0)
		right: 0
		background: $black
		opacity: 0.8
		display: none
	.menu
		+media-breakpoint-down(lg)
			+pos(fix, 60px null 0 0)
			background: color-rgba($black,0.9)
			width: 280px
			z-index: 5
			+transform(translateX(-100%))
			+transition(all,0.5s)
			&.open
				+transform(translateX(0%))
		ul.menu-link
			+flexbox
			+media-breakpoint-down(lg)
				flex-wrap: wrap
				padding: 15px 0
			> li
				+media-breakpoint-down(lg)
					width: 100%
				+ li
					margin-left: 45px
					+media-breakpoint-down(lg)
						margin-left: 0
				> a
					display: block
					+fs(15rem)
					font-weight: 600
					color: $white
					line-height: 20px
					text-transform: uppercase
					+media-breakpoint-down(lg)
						+fs(18rem)
						padding: 15px 30px
				&:hover
					> a
						color: $yellow
				&.active
					> a
						color: $yellow
						+media-breakpoint-down(lg)
							background: color-rgba($white,0.1)
	.language
		margin-left: 50px
		.dropdown-toggle
			+fs(16rem)
			text-transform: uppercase
			color: $white
			line-height: 1
			&:after
				content: '\f107'
				border: none
				width: auto
				height: auto
				display: inline-block
				vertical-align: middle
	.search
		padding-left: 15px
		margin-left: 15px
		border-left: 1px solid $white
		line-height: 1
		+pos(rel,null)
		.search-toggle
			color: $white
			line-height: 1
			cursor: pointer
			&.active
				color: $yellow
		.search-wrap
			+pos(abs, 40px 0 null null)
			display: none
			.searchbox
				+flexbox
				align-items: center
				align-content: center
				+bor-rad(3px)
				background: darken($white,80%)
				color: darken($white,40%)
				input
					border: none
					background: none
					+fs(16rem)
					line-height: 20px
					color: $white
					padding: 15px 20px
					flex: auto
				.searchbutton
					color: $white
					color: darken($white,40%)
					line-height: 20px
					padding: 15px 20px