.home-title
	+fs(40rem)
	line-height: 1.3
	font-weight: 300
	margin-bottom: 30px
	padding-left: 10px
	+pos(rel,null)
	+media-breakpoint-down(lg)
		+fs(36rem)
	+media-breakpoint-down(md)
		+fs(32rem)
	+media-breakpoint-down(sm)
		+fs(28rem)
	+media-breakpoint-down(xs)
		+fs(24rem)
	&:before
		content: ''
		width: 1px
		height: 80px
		background: $yellow
		+pos(abs, -60px null null 0)
	span
		font-weight: 300
		margin-left: 70px
		display: block
		+media-breakpoint-down(sm)
			margin-left: 40px

.page-title
	+fs(30rem)
	font-weight: 300
	text-transform: uppercase
	color: $white
	border-bottom: 2px solid $yellow
	padding: 5px 0
	margin-bottom: 30px

.small-title
	+fs(30rem)
	font-weight: 300
	text-transform: uppercase
	color: $white
	margin-bottom: 30px

.home-about
	padding: 60px 0
	background: $white
	.home-title
		color: $main
		&:before
			background: $main
	.about-content
		.content
			+fs(18rem)
			font-weight: 300
			+media-breakpoint-down(md)
				+fs(16rem)
			+media-breakpoint-down(sm)
				+fs(14rem)
		.about-img
			text-align: center

.home-project
	padding: 60px 0
.home-intro
	.title-wrap
		+flexbox
		justify-content: center
	.intro-title
		+fs(40rem)
		line-height: 1.3
		text-transform: uppercase
		font-weight: 800
		color: darken($white,60%)
		margin-bottom: 50px
		+media-breakpoint-down(lg)
			+fs(36rem)
		+media-breakpoint-down(md)
			+fs(28rem)
		+media-breakpoint-down(sm)
			+fs(24rem)
		span
			color: $yellow
			+fs(30rem)
			font-weight: 800
			margin-left: 70px
			display: block
			+media-breakpoint-down(lg)
				+fs(28rem)
			+media-breakpoint-down(md)
				+fs(24rem)
			+media-breakpoint-down(sm)
				+fs(18rem)
	.intro-list
		background: $white
		border-top: 2px solid $white
		border-bottom: 2px solid $white
		+media-breakpoint-down(md)
			border-bottom: none
		.row
			margin: 0px -1px
			.col-12
				padding: 0px 1px
		.intro-link
			+media-breakpoint-down(md)
				margin-bottom: 2px
			figure
				height: 190px
				+flexbox
				justify-content: center
				align-items: center
				align-content: center
				background: $yellow
				+media-breakpoint-down(lg)
					height: 150px
				.icon
				figcaption
					padding-left: 30px
					+media-breakpoint-down(lg)
						padding-left: 20px
					.name
						+fs(16rem)
						text-transform: uppercase
						font-weight: 700
						color: $white
						margin-bottom: 10px
						+media-breakpoint-down(lg)
							+fs(15rem)
					.link
						display: inline-block
						+fs(14rem)
						font-weight: 300
						text-transform: uppercase
						width: 180px
						+bor-rad(5px)
						border: 1px solid $white
						line-height: 38px
						text-align: center
						+media-breakpoint-down(lg)
							+fs(13rem)
							width: 160px
							line-height: 34px
						&:after
							content: '\e87a'
							font-family: 'Linearicons-Free'
							margin-left: 10px
						&:hover
							background: $white
							color: $yellow