section.banner-wrap
	.banner.home-banner
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption Không ngừng vươn mình phát triển để trở thành thương hiệu phân phối bất động sản uy tín hàng đầu Việt Nam
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption Không ngừng vươn mình phát triển để trở thành thương hiệu phân phối bất động sản uy tín hàng đầu Việt Nam