footer
	.footer-top
		.container
			.row.justify-content-center
				.col-12.col-md-8.col-lg-5.col-xl-6
					.footer-col
						.footer-title Công ty CP TMDV & XD Địa ốc Kim Oanh 
						.about-us
							ul
								li Lô C, Đường Lê Lợi, Phường Hoà Phú, TP.Thủ Dầu Một, Bình Dương
								li Tel: 
									a(href="tel:(0274) 3554 999") (0274) 3554 999 
									|- Fax: (0274) 3567 960
								li Email: 
									a(href="mailto:info@diaockimoanh.com.vn") info@diaockimoanh.com.vn
								li Hotline: 
									a(href="tel:0988.12.12.12") 0988.12.12.12
				.col-12.col-md-6.col-lg-5.col-xl-4
					.footer-col
						.subscribe-wrap
							.module-title Đăng ký nhận bản tin
							.subscribe
								.subscribefrm
									input(type="text" placeholder="Nhập địa chỉ email...")
									.subscribebutton Đăng ký
	.footer-bottom
		.container
			.row
				.col-12.col-lg-6
					.copyright Copyright © 2018 Kim Oanh Land. Designed by Cánh Cam.
				.col-12.col-lg-6
					nav.footer-nav
						a(href="#!") Điều kiện & Điều khoản
						a(href="#!") Chính sách bảo mật
						a(href="#!") Sitemap
