header
	.container
		.header-wrap
			.btn-showmenu <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.col-right
				nav.menu
					.menu-logo
						.sitelogo
							a(href="#!")
								img(src="img/logo.png", alt="")
					.menu-content
						.menu-wrap
							ul.menu-link
								li
									a(href="#!") Giới thiệu
								li
									a(href="#!") Dự án
								li
									a(href="#!") Tin tức
								li
									a(href="#!") Thư viện
								li
									a(href="#!") Tuyển dụng
								li
									a(href="#!") Liên hệ
				.hotline
					a(href="tel:0988.12.12.12") <i class="material-icons">phone</i>0988.12.12.12
				.search
					.btn-search <i class="material-icons">search</i>
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							.searchbutton <i class="material-icons">search</i>