section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/project/br1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Dự án
nav.top-nav
	ul.home-tab
		li
			a(href="#section1") Tổng quan
		li
			a(href="#section2") Vị trí
		li
			a(href="#section3") Tiện ích
		li
			a(href="#section4") Phân lô
		li
			a(href="#section5") Video
		li
			a(href="#section6") Hình ảnh
		li
			a(href="#section7") Catalogue
		li
			a(href="#section8") Tin tức
section#section1.project-page.project-section1
	.container
		h1.home-title.text-center khu đô thị mega city 2
		.home-des.text-center Với định hướng trở thành “đô thị hạt nhân” của thành phố Nhơn Trạch, Mega City 2 hứa hẹn sẽ là nơi mang lại cuộc sống thịnh vượng và cơ hội đầu tư hấp dẫn nhất cho khách hàng.
		.project-content
			.row.no-gutters
				.col-12.col-lg-6
					.project-img
						img(src="img/project/img1.jpg", alt="")
				.col-12.col-lg-6
					.content
						ul
							li 
								strong Vị trí: 
								|Tọa lạc giữa bốn tuyến đường: 25C, 319, Tôn Đức Thắng và Nguyễn Hữu Cảnh, trung tâm thành phố Nhơn Trạch, tỉnh Đồng Nai
							li 
								strong Quy mô: 
								|84 ha, cung cấp hơn 3.100 sản phẩm
							li 
								strong Đầu tư và phân phối: 
								|Kim Oanh Group
							li 
								strong Hạ tầng: 
								|Đường nhựa rộng từ 13-100m, hệ thống điện âm, nước thủy cục, mạng lưới viễn thông, hệ thống nước thải và nước mưa riêng biệt…
							li 
								strong Tiện ích nội khu: 
								|Trung tâm thương mại, công viên cảnh quan, khu phức hợp thể thao ngoài trời (hồ bơi, sân tennis, sân bóng rổ…), trung tâm y tế, khu vui chơi trẻ em, trường học,…
							li 
								strong Tiện ích liên kết: 
								|Bệnh viện đa khoa Nhơn Trạch, sân bay quốc tế Long Thành, siêu thị VN Mart, trung tâm triển lãm – hội chợ quốc tế Nhơn Trạch 107 héc ta, trường Trung cấp Kỹ thuật Đồng Nai, trường THCS Nguyễn Bỉnh Khiêm, trường THCS Phú Hội, ngân hàng, khu du lịch sinh thái, cụm công nghiệp…
							li 
								strong Pháp lý: 
								|Minh bạch, đầy đủ.
section#section2.project-page.project-section2
	.container
		h2.page-title Vị trí đặc biệt chiến lược
		.project-content
			.row
				.col-12.col-lg-5.col-text
					.content
						p Mega City  2 nằm giữa bốn tuyến đường chiến lược của thành phố Nhơn Trạch gồm đường Nguyễn Hữu Cảnh, Tôn Đức Thắng, 319 và 25C (rộng 100 mét). Bao quanh dự án là hàng loạt tuyến đường huyết mạch kết nối thông suốt với các khu vực trọng điểm của TPHCM, Đồng Nai, Bình Dương, Bà Rịa Vũng Tàu và các tỉnh miền Tây. Chẳng hạn như đường Hùng Vương, Lý Thái Tổ, cao tốc TPHCM – Long Thành – Dầu Giây, cao tốc Bến Lức – Long Thành, đường Mỹ Phước – Tân Vạn – Nhơn Trạch (Vành đai 3), cao tốc Biên Hòa – Vũng Tàu… Đặc biệt, khi các cây cầu nối Nhơn Trạch với quận 2, quận 9 và Cần Giờ được triển khai xây dựng kết hợp với hệ thống cảng quốc tế Cát Lái, Cái Mép – Thị Vải, sân bay quốc tế Long Thành…sẽ là “đòn bẩy” giúp Nhơn Trạch phát triển bùng nổ, mở toang cánh cửa giao thương và trở thành vùng đất vàng khai thác kinh doanh. Cùng với đó, giá trị bất động sản tại Mega City 2 sẽ không ngừng gia tăng.
				.col-12.col-lg-7.col-img
					.project-img
						img(src="img/project/img2.jpg", alt="")
section#section3.project-page.project-section3
	.container
		.project-content
			.row
				.col-12.col-lg-7.col-img
					.project-img
						.row
							.col-6
								.img
									img(src="img/project/img3.jpg", alt="")
							.col-6
								.img
									img(src="img/project/img4.jpg", alt="")
								.img
									img(src="img/project/img5.jpg", alt="")
				.col-12.col-lg-5.col-text
					h2.page-title.text-center đa dạng tiện ích
					.content
						p Quy mô lên đến 84 ha nhưng phần lớn diện tích của Mega City 2 chủ yếu dành cho các công trình dịch vụ, tiện ích phục vụ nhu cầu cuộc sống hàng ngày của cư dân và khu vực lân cận. Nhiều tiện ích cao cấp có thể kể đến như hơn 2,6 ha đất thương mại – dịch vụ; 3,1 ha trường học; 2,5 ha công viên cây xanh; 5.320 m2 đất trung tâm y tế; 5.592 m2 đất bưu điện; 1.558 m2 trung tâm sinh hoạt cộng đồng; khu phức hợp thể thao ngoài trời, khu vui chơi cho trẻ em; đài phun nước; vườn ươm… đảm bảo cho cư dân cuộc sống tiện nghi nhất.
						p Bên cạnh hệ thống tiện ích nội khu, Mega City 2 còn được thụ hưởng mọi tiện ích sẵn có của thành phố Nhơn Trạch . Từ dự án chỉ mất vài phút là đến UBND huyện Nhơn Trạch, bệnh viện Đa khoa Nhơn Trạch, bưu điện Nhơn Trạch; trung tâm thể dục – thể thao huyện Nhơn Trạch, siêu thị VN Mart; trường Trung cấp Kỹ thuật Đồng Nai, trường THCS Nguyễn Bỉnh Khiêm, trường THCS Phú Hội; hệ thống ngân hàng Agribank, VietinBank; trung tâm triển lãm – hội chợ quốc tế Nhơn Trạch 107 héc ta, sân bay quốc tế Long Thành, khu du lịch sinh thái, sân golf… Đặc biệt, khi cầu nối quận 2, quận 9 với Nhơn Trạch hoàn thành, cư dân Mega City 2 còn dễ dàng tiếp cận hệ thống tiện ích và dịch vụ đẳng cấp của TPHCM.
section#section4.project-page.project-section4
	.container
		.project-content
			.row
				.col-12.col-lg-6.col-text
					h2.page-title.text-center tiềm năng sinh lời đột phá
					.content
						p Nằm ngay khu vực đang phát triển mạnh về hạ tầng giao thông, đồng thời được bao quanh bởi hàng loạt công trình trọng điểm như sân bay quốc tế Long Thành, cảng quốc tế Cát Lái, cụm cảng Cái Mép – Thị Vải, Trung tâm triển lãm – hội chợ quốc tế Nhơn Trạch, cụm công nghiệp Nhơn Trạch,…nên tại Mega City 2 rất thuận lợi khai thác kinh doanh thương mại.
						p Hơn nữa, theo quy hoạch phát triển vùng kinh tế trọng điểm phía Nam, trong tương lai thành phố Nhơn Trạch không chỉ là đô thị vệ tinh của TPHCM mà còn trở thành trung tâm giao thương quốc tế với những lợi thế lớn về hệ thống giao thông và vận chuyển hàng hóa, dịch vụ hoàn chỉnh từ đường bộ, đường sắt, đường thủy cho đến đường hàng không. Điều này sẽ đảm bảo cho giá trị bất động sản tại Mega City 2 không ngừng gia tăng cho các chủ nhân.
				.col-12.col-lg-6.col-img
					.project-img
						img(src="img/project/img6.jpg", alt="")
section#section5.project-page.project-section5
	.container
		.project-content
			.row
				.col-12.col-lg-7.col-img
					.project-img
						img(src="img/project/img7.jpg", alt="")
				.col-12.col-lg-5.col-text
					h2.page-title.text-center Đầu tư an toàn, hiệu quả
					.content
						p Là dự án giàu tiềm năng bậc nhất tại Nhơn Trạch nhưng Mega City 2 có giá bán chỉ từ 650 triệu đồng/nền, thanh toán linh hoạt trong nhiều đợt. Theo dự báo của các chuyên gia lẫn các công ty nghiên cứu thị trường, phân khúc đất nền vùng ven vẫn còn rất nhiều tiềm năng khi hệ thống hạ tầng và giao thông đang ngày càng phát triển mạnh mẽ, giúp kết nối thuận tiện giữa các khu vực. Chính vì vậy, Mega City 2 sẽ là sản phẩm đầu tư cực kỳ hấp dẫn nhờ vị trí đặc biệt chiến lược của mình.
section#section6.project-page.project-section6
	.container
		.project-content
			.row
				.col-12.col-lg-6.col-text
					h2.page-title.text-center Hưởng ưu đãi kép
					.content
						p Khách hàng mua Mega City 2 sẽ được hưởng nhiều chương trình khuyến mãi hấp dẫn. Cụ thể, bên cạnh chương trình tặng thẻ cào 5 – 10 chỉ vàng và rút thăm trúng thưởng giá trị cao trong ngày mở bán, khách hàng giao dịch thành công còn được tham gia chương trình rút thăm may mắn “Mua đất vàng – Trúng xe sang” được tổ chức vào cuối năm 2018. Đây là chương trình khuyến mãi lớn nhất của Kim Oanh Group từ trước đến nay với tổng giá trị lên đến 35,5 tỉ đồng nhân dịp kỉ niệm 10 năm thành lập Công ty cổ phần Địa ốc Kim Oanh. Cơ cấu giải thưởng gồm 1 xe Mercedes- Benz GLC 300, 1 xe Honda CR-V, 1 xe Honda City, 20 xe gắn máy Honda SH, 20 xe Honda Air Blade, 25 điện thoại iPhone X, 30 laptop Macbook Air, 35 smart tivi Sony 43 inch, 40 quạt làm mát không khí Sunhouse Shd774, 50 điện thoại Oppo A71 và hàng ngàn quà tặng giá trị khác. Đây chính là cơ hội đầu tư vàng dành cho các nhà đầu tư bởi đất nền khu vực vệ tinh của TPHCM đang tăng giá từng ngày.
				.col-12.col-lg-6.col-img
					.project-img
						img(src="img/project/img8.jpg", alt="")
section#section7.project-page.project-section7
	.container
		h2.page-title.text-center Video
		.project-video
				iframe(width='100%', height='560', src='https://www.youtube.com/embed/0d6ypgW96ZI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
section#section8.project-page.project-section8
	.container
		h2.page-title.text-center Hình ảnh
		.project-album Hình ảnh thực tế
		.project-img
			.row
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
		.project-album Hình ảnh tiện ích
		.project-img
			.row
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
				.col-6.col-lg-3
					a.img(href="img/project/pic1.jpg" data-fancybox="album1")
						img(src="img/project/pic1.jpg", alt="")
section#section9.project-page.project-section9
	.container
		.row.justify-content-center
			.col-12.col-lg-8.col-xl-7
				.project-form
					h2.module-title.text-center Đăng ký nhận thông tin dự án
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Họ và tên...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Email...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Tiêu đề...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Số điện thoại...")
							.form-group.col-12
								textarea(name="", cols="30", rows="8" placeholder="Nội dung...")
						.frm-btn
							input(type="submit", value="Gửi")