section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/project/br1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Giới thiệu
nav.top-nav
	ul.home-tab
		li
			a(href="#section1") Thông điệp tổng giám đốc
		li
			a(href="#section2") Lịch sử hình thành
		li
			a(href="#section3") Lĩnh vực hoạt động
		li
			a(href="#section4") Tầm nhìn sứ mệnh
		li
			a(href="#section5") Sơ đồ tổ chức
		li
			a(href="#section6") Giải thưởng
section#section1.about-section1
	.container
		h1.home-title.text-center Thông điệp tổng giám đốc
		.row
			.col-12.col-lg-7
				.about-content
					.quote-content.content
						h3.quote-title Kính thưa quý đối tác, quý khách hàng
						p Lời đầu tiên, thay mặt Hội đồng quản trị cùng tập thể cán bộ nhân viên Công ty cổ phần Địa ốc Kim Oanh tôi xin gửi đến tất cả các quý vị lời chúc sức khỏe, hạnh phúc và thành công trong cuộc sống.
						p Kính thưa quý vị,
						p Công ty cổ phần Thương mại Dịch vụ và Xây dựng Địa ốc Kim Oanh thành lập trong bối cảnh thị trường bất động sản còn nhiều khó khăn và thách thức. Đến nay, sau 10 năm cố gắng nỗ lực Công ty Kim Oanh đã không ngừng lớn mạnh và trở thành nhà phân phối bất động sản hàng đầu khu vực phía Nam. Bên cạnh trụ sở chính, Công ty Kim Oanh đang có hệ thống gồm 6 chi nhánh tại Bình Dương, Đồng Nai và TPHCM với hơn 700 cán bộ nhân viên có trình độ chuyên môn cao và an hiểu sâu sắc thị trường bất động sản.
						p Nhằm hình thành chuỗi giá trị khép kín, mang lại lợi ích tốt nhất cho khách hàng, vào cuối năm 2015, Công ty cổ phần Địa ốc Kim Oanh thực hiện bước ngoặt lớn khi góp vốn thành lập Kim Oanh Group với các đơn vị thành viên gồm Công ty cổ phần Đầu tư và Phát triển Thuận Lợi, Công ty cổ phần Đầu tư và Phát triển Phú Thuận Lợi, Công ty cổ phần Xây dựng An Phước Bình Dương và Công ty cổ phần Đầu tư và Phát triển Kim Oanh Thành phố Hồ Chí Minh. Đây cũng là minh chứng cho sự lớn mạnh của thương hiệu Kim Oanh chuyển vai trò từ nhà phân phối bất động sản đơn thuần sang nhà đầu tư và phát triển dự án.
						p Trong suốt quá trình hoạt động, Công ty cổ phần Địa ốc Kim Oanh luôn thực hiện theo tôn chỉ “Sản phẩm thật – Giá trị thật”, xây dựng uy tín và lấy lợi ích khách hàng làm trung tâm hoạt động. Các sản phẩm trước khi đến tay khách hàng đều được công ty nghiên cứu kỹ lưỡng, xây dựng mức giá phù hợp với số đông người dân và nhà đầu tư. Nhờ đó, hầu hết các dự án của Kim Oanh khi đưa ra thị trường đều được tiêu thụ nhanh chóng. Trung bình mỗi năm công ty phân phối thành công khoảng 3.000 sản phẩm đất nền và nhà xây sẵn tại nhiều thị trường khác nhau.
						p Bằng uy tín thương hiệu và tiềm lực sẵn có, Công ty cổ phần Địa ốc Kim Oanh ngày càng được nhiều đối tác lớn tín nhiệm như Becamex, Tín Nghĩa, Thanh Lễ, Giang Điền, ATA, DIC Corp., Bái Tử Long. Các tổ chức tài chính hàng đầu như Vietcombank, BIDV, Agribank, Sacombank…cũng tham gia hỗ trợ, tạo điều kiện tốt nhất cho khách hàng sở hữu sản phẩm bất động sản do công ty phân phối.
						p Trước thế mạnh và sự hậu thuẫn từ hệ thống Kim Oanh Group, Công ty cổ phần Địa ốc Kim Oanh đặt ra mục tiêu trong thời gian tới sẽ trở thành thương hiệu bất động sản uy tín hàng đầu Việt Nam. Công ty cũng cam kết không ngừng nâng cao năng lực, xây dựng bộ máy quản lý theo hướng chuyên nghiệp và hiện đại nhằm mang đến các sản phẩm, dịch vụ thương mại tốt hơn nữa đến với khách hàng.
						p Bên cạnh đó, Công ty cổ phần Địa ốc Kim Oanh cũng sẽ tiếp tục thực hiện chính sách chia sẻ với cộng đồng – một truyền thống nhân văn đã được xây dựng và duy trì trong suốt 10 năm qua. Ngoài các chương trình tặng học bổng cho học sinh nghèo, xây nhà tình nghĩa/nhà tình thương, tri ân gia đình chính sách, giúp đỡ nạn nhân chất độc da cam, cứu trợ đồng bào bị thiên tại/hỏa hoạn, hỗ trợ các bệnh nhân nghèo, thông qua Quỹ Từ thiện Kim Oanh, Công ty Kim Oanh sẽ tổ chức thêm nhiều chương trình thiện nguyện quy mô lớn và sâu rộng hơn.
						p Với sự tin yêu của quý đối tác, quý khách hàng cùng sự quyết tâm của của một tập thể đầy nhiệt huyết, chúng tôi hoàn toàn tin tưởng thương hiệu Kim Oanh sẽ còn vươn cao, vươn xa hơn nữa.
						p Một lần nữa, thay mặt Hội đồng Quản trị Công ty cổ phần Thương mại Dịch vụ và Xây dựng Địa ốc Kim Oanh, tôi trân trọng gửi đến quý vị khách hàng, đối tác lời tri ân sâu sắc nhất và mong tiếp tục nhận được sự tín nhiệm, ủng hộ của tất cả quý vị trong thời gian tới.  
						p Trân trọng

			.col-12.col-lg-5
				.about-img
					img(src="img/about/img1.jpg", alt="")
section#section2.about-section2
	.container
		h2.home-title.text-center Lịch sử hình thành
		.home-des.text-center Trong suốt chặng đường 10 năm xây dựng và phát triển, Công ty cổ phần Địa ốc Kim Oanh đã không ngừng nỗ lực vươn lên trở thành nhà tiếp thị, phân phối bất động sản hàng đầu khu vực phía Nam.
		.history-wrap
			.history-year.history-slide
				.item
					.year 2000
				.item
					.year 2009
				.item
					.year 2010 - 2014
				.item
					.year 2015
				.item
					.year 2016
				.item
					.year 2017
				.item
					.year 2018
			.history-event.history-slide
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.
				.item
					.year 2018
					.content
						p Đầu tư khu đô thị quy mô lớn nhất từ trước đến nay – Mega City 2 (84 ha). Tái cấu trúc bộ máy hoạt động theo hướng chuyên nghiệp và hiện đại.

section#section3.about-section3
	.container
		h2.home-title.text-center Lĩnh vực hoạt động
		.service-list
			.row
				.col-12.col-md-4
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/about/img2.jpg", alt="")
							figcaption
								h3.service-name QUảng cáo, tiếp thị bất động sản
				.col-12.col-md-4
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/about/img2.jpg", alt="")
							figcaption
								h3.service-name QUảng cáo, tiếp thị bất động sản
				.col-12.col-md-4
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/about/img2.jpg", alt="")
							figcaption
								h3.service-name QUảng cáo, tiếp thị bất động sản
section#section4.about-section4
	.container
		h2.home-title.text-center Tầm nhìn - Sứ mệnh
		.vision-list
			.row
				.col-12.col-md-6.col-lg-3
					.vision-col
						figure
							.vision-img
								img(src="img/about/img3.jpg", alt="")
							figcaption
								.vision-name Tầm nhìn
								.vision-des
									p Trở thành thương hiệu phân phối bất động sản uy tín hàng đầu Việt Nam
									//- ul
									//- 	li Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất 
									//- 	li Góp phần xây dựng một xã hội nhân văn, mang lại cuộc sống thịnh vượng và hạnh phúc cho cộng đồng
				.col-12.col-md-6.col-lg-3
					.vision-col
						figure
							.vision-img
								img(src="img/about/img3.jpg", alt="")
							figcaption
								.vision-name Tầm nhìn
								.vision-des
									//- p Trở thành thương hiệu phân phối bất động sản uy tín hàng đầu Việt Nam
									ul
										li Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất 
										li Góp phần xây dựng một xã hội nhân văn, mang lại cuộc sống thịnh vượng và hạnh phúc cho cộng đồng
				.col-12.col-md-6.col-lg-3
					.vision-col
						figure
							.vision-img
								img(src="img/about/img3.jpg", alt="")
							figcaption
								.vision-name Tầm nhìn
								.vision-des
									p Trở thành thương hiệu phân phối bất động sản uy tín hàng đầu Việt Nam
									//- ul
									//- 	li Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất 
									//- 	li Góp phần xây dựng một xã hội nhân văn, mang lại cuộc sống thịnh vượng và hạnh phúc cho cộng đồng
				.col-12.col-md-6.col-lg-3
					.vision-col
						figure
							.vision-img
								img(src="img/about/img3.jpg", alt="")
							figcaption
								.vision-name Tầm nhìn
								.vision-des
									//- p Trở thành thương hiệu phân phối bất động sản uy tín hàng đầu Việt Nam
									ul
										li Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất 
										li Góp phần xây dựng một xã hội nhân văn, mang lại cuộc sống thịnh vượng và hạnh phúc cho cộng đồng
section#section5.about-section5
	.container
		h2.home-title.text-center Sơ đồ tổ chức
		.about-img.text-center
			img(src="img/about/chart.png", alt="")
section#section6.about-section6
	.container
		h2.home-title.text-center Giải thưởng
		.home-des.text-center Sau 10 năm hoạt động, Công ty cổ phần Địa ốc Kim Oanh đã vinh dự được các cơ quan Nhà nước và các tổ chức trao tặng nhiều bằng khen, giải thưởng cao quý về những thành tích trong hoạt động kinh doanh và những đóng góp cho cộng đồng xã hội.
		.award-slide
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
			
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam