section.home-news
	.container
		h1.home-title.text-center Tin tức
		ul#myTab.nav.nav-tabs.home-tab(role='tablist')
			li.nav-item
				a.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='tab1', aria-selected='true') tin hoạt động doanh nghiệp
			li.nav-item
				a.nav-link(data-toggle='tab', href='#tab2', role='tab', aria-controls='tab2', aria-selected='false') Tin thị trường
			li.nav-item
				a.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='tab3', aria-selected='false') tin quỹ từ thiện
			li.nav-item
				a.nav-link(data-toggle='tab', href='#tab4', role='tab', aria-controls='tab4', aria-selected='false') bản tin kim oanh
		#myTabContent.tab-content
			#tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab1')
				section.hot-news
					.row
						.col-12.col-lg-6
							.news-col.big
								figure
									a.news-img(href="#!")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Nhộn nhịp giao dịch nhà đất tại các tỉnh vùng ven thành phố Hồ Chí Minh
										.news-des Xu hướng tăng giá quá nhanh của cả thị trường đất nền và căn hộ Tp.HCM đang khiến nhiều nhà đầu tư tài chính hạn chế đổ về các tỉnh lân cận như Bình Dương, Đồng Nai, Vũng Tàu… tìm kiếm cơ hội. Chính hạn chế đổ về các tỉnh lân cận như Bình Dương, Đồng Nai, Vũng Tàu… tìm kiếm cơ hội.
						.col-12.col-lg-6
							.row
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/1.jpg", alt="")
											figcaption
												h3.news-name
													a(href="#!") Đồng Nai sẽ trở thành trung tâm Logistics vùng
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/1.jpg", alt="")
											figcaption
												h3.news-name
													a(href="#!") Đẩy nhanh tiến độ giải phóng mặt bằng sân bay Long Thành
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/1.jpg", alt="")
											figcaption
												h3.news-name
													a(href="#!") Sẽ có đường kết nối từ Tp HCM đi Bình Dương thay QL 13
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/1.jpg", alt="")
											figcaption
												h3.news-name
													a(href="#!") Bình Dương: đồng vốn chảy mạnh vào thị trường đất nền Bến Cát
			#tab2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2') ...
			#tab3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3') ...
			#tab4.tab-pane.fade(role='tabpanel', aria-labelledby='tab4') ...
section.home-project
	.container
		h2.home-title.text-center Dự án
		.hot-project
			.row
				.col-12.col-lg-8
					.row
						.col-12
							.project-col.big
								figure
									a.project-img(href="#!")
										img(src="img/project/1.jpg", alt="")
									figcaption
										h3.project-name
											a(href="#!") golden center city 3
						.col-12.col-md-6
							.project-col
								figure
									a.project-img(href="#!")
										img(src="img/project/1.jpg", alt="")
									figcaption
										h3.project-name
											a(href="#!") golden center city 3
						.col-12.col-md-6
							.project-col
								figure
									a.project-img(href="#!")
										img(src="img/project/1.jpg", alt="")
									figcaption
										h3.project-name
											a(href="#!") golden center city 3
				.col-12.col-lg-4
					.row
						.col-12.col-md-6.col-lg-12
							.project-col
								figure
									a.project-img(href="#!")
										img(src="img/project/1.jpg", alt="")
									figcaption
										h3.project-name
											a(href="#!") golden center city 3
						.col-12.col-md-6.col-lg-12
							.project-col.high
								figure
									a.project-img(href="#!")
										img(src="img/project/1.jpg", alt="")
									figcaption
										h3.project-name
											a(href="#!") golden center city 3
		.btn-wrap.text-right
			a.btn-viewmore(href="#!") Xem tất cả dự án
section.home-video
	.container
		h2.home-title.text-center Video clip
		.video-list
			.row
				.col-12.col-md-4
					.video-col
						figure
							a.video-img(href="#!" data-fancybox="")
								img(src="img/video/1.jpg", alt="")
							figcaption
								h3.video-name
									a(href="#!" data-fancybox="") Giới thiệu dự án Mega City 2
				.col-12.col-md-4
					.video-col
						figure
							a.video-img(href="#!" data-fancybox="")
								img(src="img/video/1.jpg", alt="")
							figcaption
								h3.video-name
									a(href="#!" data-fancybox="") Giới thiệu dự án Mega City 2
				.col-12.col-md-4
					.video-col
						figure
							a.video-img(href="#!" data-fancybox="")
								img(src="img/video/1.jpg", alt="")
							figcaption
								h3.video-name
									a(href="#!" data-fancybox="") Giới thiệu dự án Mega City 2
section.home-gallery
	.container
		h2.home-title.text-center Thư viện ảnh
		.gallery-slide
			.item
				a.img(href="#!" data-fancybox='album1')
					img(src="img/gallery/1.jpg", alt="")
			.item
				a.img(href="#!" data-fancybox='album1')
					img(src="img/gallery/1.jpg", alt="")
			.item
				a.img(href="#!" data-fancybox='album1')
					img(src="img/gallery/1.jpg", alt="")
			.item
				a.img(href="#!" data-fancybox='album1')
					img(src="img/gallery/1.jpg", alt="")
			.item
				a.img(href="#!" data-fancybox='album1')
					img(src="img/gallery/1.jpg", alt="")
			.item
				a.img(href="#!" data-fancybox='album1')
					img(src="img/gallery/1.jpg", alt="")
section.home-award
	.container
		h2.home-title.text-center Giải thưởng
		.award-list.award-slide
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
			.item
				.row
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam
					.col-6
						.award
							figure
								a.award-img(href="#!" data-fancybox="award")
									img(src="img/about/a1.png", alt="")
								figcaption
									h3.award-name
										a(href="#!" data-fancybox="award1") Top 50 công ty niêm yết tốt nhất Việt Nam

section.home-partner
	.container
		h2.home-title.text-center Đối tác
		.partner-list.partner-slide
			.item
				.row.no-gutters
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
			.item
				.row.no-gutters
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
			.item
				.row.no-gutters
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
			.item
				.row.no-gutters
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")