section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/project/br1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Thư viện
				li
					a(href="#!")
						span Hình ảnh
section.gallery-page
	.container
		h1.home-title.text-center Hình ảnh
		ul.home-tab
			li.active
				a(href="#!") Dự án
			li
				a(href="#!") Hoạt động công ty
		.gallery-album
			.row
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
					.hidden-img.d-none
						a.album(href="img/project/1.jpg" data-fancybox="album1")
							img(src="img/project/1.jpg", alt="")
						a.album(href="img/project/1.jpg" data-fancybox="album1")
							img(src="img/project/1.jpg", alt="")
						a.album(href="img/project/1.jpg" data-fancybox="album1")
							img(src="img/project/1.jpg", alt="")
						a.album(href="img/project/1.jpg" data-fancybox="album1")
							img(src="img/project/1.jpg", alt="")
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
				.col-12.col-md-6.col-lg-4
					a.album(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.album-img
								img(src="img/project/1.jpg", alt="")
							figcaption
								.album-name khu đô thị Mega City 2
								.album-des 7 tháng 5, 2018 / 10 hình ảnh
.pages
	ul.pagination
		li.active
			a(href="#!") 1
		li
			a(href="#!") 2
		li
			a(href="#!") 3
		li
			a(href="#!") 4