section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/project/br1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Thư viện
				li
					a(href="#!")
						span Hình ảnh
section.news-page
	.container
		h2.home-title.text-center Tin tức
		ul.home-tab
			li.active
				a(href="#!") Tin hoạt động doanh nghiệp
			li
				a(href="#!") tin thị trường
			li
				a(href="#!") Tin quỹ từ thiện
			li
				a(href="#!") Bản tin kinh doanh
		.row
			.col-12.col-lg-8.col-xl-9
				section.news-detail
					h1.news-name Hấp lực khủng khiếp của đấp nền vùng ven
					.news-info
						time 28/12/2017
					.content
						p Hơn 3.000 khách hàng đã chen chân nhau để làm thủ tục giữ chỗ đất nền dự án Mega City 2 tại Nhơn Trạch vào cuối tuần qua. Đây tiếp tục là một kỷ mới của chủ đầu tư Kim Oanh Group khi lễ giới thiệu dự án kéo dài từ sáng sớm đến 5 giờ chiều và toàn bộ 3.100 nền đất đều tìm được chủ nhân.
						img(src="img/news/img1.jpg", alt="")
						p Trong thời tiết nóng bức, các nhân viên của Kim Oanh vẫn tư vấn hết sức tận tình, giúp khách hàng tìm được sản phẩm ưng ý nhất để giao dịch. Bên cạnh người dân địa phương, hầu hết khách hàng giao dịch đất nền Mega City 2 là nhà đầu tư đến từ TPHCM, Bình Dương, Bà Rịa Vũng Tàu, Long An, Tây Ninh cùng các tỉnh miền Trung và miền Bắc. Không ít khách hàng “xuống tiền” giao dịch cùng lúc từ 3-5 nền.
						img(src="img/news/img1.jpg", alt="")
						p Khu vực tiếp nhận hồ sơ và quản lý sản phẩm bị quá tải. Hàng trăm khách hàng sốt ruột chen lấn nhau để giao dịch được sản phẩm mà mình ưng ý.
						img(src="img/news/img1.jpg", alt="")
						p Bà Đặng Thị Kim Oanh, Tổng giám đốc Công ty cổ phần Địa ốc Kim Oanh, bị bao vây giữa biển người chen chúc. Bà Oanh cho biết trong giai đoạn 1 của dự án, công ty dự kiến chỉ đưa ra thị trường khoảng 1.000 sản phẩm nhưng chỉ sau một tuần đã bổ sung thêm 500 sản phẩm do nhu cầu tăng cao. Tuy nhiên, đến lễ giới thiệu chính thức dự án thì công ty buộc phải tung toàn bộ 3.100 sản phẩm ra thị trường nhưng vẫn bị “cháy hàng” sau khoảng 4 giờ đồng hồ giao dịch. 
						img(src="img/news/img1.jpg", alt="")
						p Dự án khu đô thị thương mại Mega City 2 có quy mô 84 héc ta tọa lạc ngay trung tâm hành chính Nhơn Trạch, kết nối trực tiếp với TPHCM và các khu vực phát triển năng động của vùng kinh tế trọng điểm phía Nam thông qua hệ thống giao thông hoàn chỉnh gồm 25C, 319, Tôn Đức Thắng, Nguyễn Hữu Cảnh, quốc lộ 51, cao tốc TPHCM – Long Thành – Dầu Giây, cao tốc Bến Lức – Long Thành… Trong tương lai còn có thêm cầu nối quận 2, quận 9 với Nhơn Trạch và tuyến monorail Thủ Thiêm – Long Thành chạy ngang qua dự án nên giao thông còn thuận lợi hơn nữa. Hiện nay Mega City 2 đã hoàn thiện hồ sơ pháp lý và hạ tầng thi công rất nhanh, hồ cảnh quan đã hoàn thành, các tuyến đường chính đã trải nhựa.
						img(src="img/news/img1.jpg", alt="")
						p Phối cảnh tổng thể khu đô thị Mega City 2 với hệ thống tiện ích nội khu phong phú, đa dạng, gồm 2,6 héc ta đất thương mại – dịch vụ; 2,5 héc ta đất công viên cây xanh; 5.320 m2 đất y tế; 5.592 m2 đất bưu điện; 1.558 m2 công trình cộng đồng; khu phức hợp thể thao ngoài trời, khu vui chơi cho trẻ em; đài phun nước; vườn ươm… 
						img(src="img/news/img1.jpg", alt="")
						p Cả ngàn chiếc xe hơi của khách hàng đi tham dự lễ giới thiệu dự án Mega City 2. Mức giá của dự án là từ 650 triệu đồng/nền.
					.share
						img(src="img/share.jpg", alt="")
			.col-12.col-lg-4.col-xl-3
				.news-sidebar
					h3.small-title Tin mới nhất
					.post-list
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng