section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/project/br1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tuyển dụng
section.career-section
	.container
		h2.home-title.text-center Tuyển dụng
		.row
			.col-12.col-lg-8.col-xl-9
				section.career-detail
					h1.career-name Tuyển dụng vị trí Nhân viên thiết kế
					.career-info
						time 28/12/2017
					.content
						h5
							strong.text-orange Thông tin tuyển dụng
						p Vị trí tuyển dụng: Nhân viên thiết kế
							br
							|Chức vụ: Nhân viên
							br
							|Yêu cầu giới tính: Nam
							br
							|Địa điểm làm việc: Thành phố Hồ Chí Minh
							br
							|Yêu cầu độ tuổi: Không yêu cầu
							br
							|Mức lương: thương lượng
							br
							|Bằng cấp tối thiểu: Trung cấp
							br
							|Số lượng cần tuyển: 3
							br
							|Hình thức làm việc: Toàn thời gian cố định
							br
							|Kinh nghiệm tối thiểu: 1 năm
						h5
							strong.text-orange Mô tả công việc
						ul
							li Triển khai kỹ thuật nội thất
							li Triển khai kiến trúc các công trình 
							li Thiết kế chung cư, biệt thự, nhà mặt phố
							li Thiết kế văn phòng, nhà hàng, khách sạn...
							li Thiết kế nội thất trong lĩnh vực nhà ở, văn phòng: biệt thự, chung cư, khách sạn...
						h5
							strong.text-orange Yêu cầu công việc
						ul
							li Bằng cấp: Cao Đẳng trở lên
							li Độ tuổi: Không giới hạn tuổi
							li Hình thức: Nhân viên chính thức
							li Thành thạo phần mềm thiết kế chuyên ngành: Auto Cad, 3D Max, Photoshop, Revit…
							li Đã có kinh nghiệm trên 2 năm trong lĩnh vực thiết kế, thi công nội thất, F& B
							li Có ý tưởng tốt
						h5
							strong.text-orange Quyền lợi được hưởng
						ul
							li Lương, thưởng hấp dẫn, các khoản phụ cấp
							li Du lịch, nghỉ mát theo quy định của công ty.
							li Thưởng lễ, sinh nhật...
							li Có nhiều cơ hội phát triển và thăng tiến.
							li Các chế độ bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo quy định của công ty và pháp luật quy định
							li Tuần làm việc 5.5 ngày từ thứ 2 đến sáng thứ 7
						h5
							strong.text-orange Hồ sơ gồm có
						ul
							li 
								strong Chứng minh nhân dân (bản photo)
							li 
								strong Sổ hộ khẩu (bản photo)
							li 
								strong Đơn xin việc
							li 
								strong Sơ yếu lý lịch
							li 
								strong Bằng cấp (nếu có)
						h5
							strong.text-orange Hồ sơ gồm có: 
							strong.text-red 31/12/2018
							br
							strong.text-orange Ngày đăng tuyển: 
							strong 11/10/2018
							br
							strong.text-orange Hình thức nộp hồ sơ: 
							strong Mọi hình thức
					a.btn-download(href="#!") Tải mẫu đơn xin việc
					.btn-wrap
						a.btn-apply(href="#!") Ứng tuyển ngay
			.col-12.col-lg-4.col-xl-3
				.other-job
					h3.small-title Tin tuyển dụng khác
					.job-list
						a.job(href="#!")
							time 28/12/2018
							.job-name Tuyển dụng Giám đốc Marketing
						a.job(href="#!")
							time 28/12/2018
							.job-name Tuyển dụng Giám đốc Marketing
						a.job(href="#!")
							time 28/12/2018
							.job-name Tuyển dụng Giám đốc Marketing
						a.job(href="#!")
							time 28/12/2018
							.job-name Tuyển dụng Giám đốc Marketing
						a.job(href="#!")
							time 28/12/2018
							.job-name Tuyển dụng Giám đốc Marketing
						