section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/project/br1.jpg", alt="")
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tuyển dụng
section.career-section.career-section1
	.container
		h2.home-title.text-center Tuyển dụng
		.career-content.content
			p.text-center
				strong Hãy tìm kiếm cơ hội nghề nghiệp tại Kim Oanh Group để khẳng định bản thân và giao lưu học hỏi tạo cho bản thân nền tảng kiến thức vững vàng trong môi trường làm việc thân thiện và năng động
			p.text-center Trong định hướng phát triển nhân sự, Kim Oanh Group tập trung xây dựng chính sách thu hút nhân tài thông qua chính sách lương, thưởng đặc biệt cạnh tranh kết hợp với các hoạt động đào tạo, bòi dưỡng nhằm giữ chân CBNV lâu dài, xây dựng phát triển đội ngũ quản lý kế thừa nhằm đáp ứng nhu cầu nhân sự cấp quản lý cho những năm tiếp theo cũng như thu hút nhân lực giỏi từ nhiều nguồn khác nhau về làm việc cho Công ty.
		.career-img
			.img
				img(src="img/c1.jpg", alt="")
			.img
				img(src="img/c1.jpg", alt="")
			.img
				img(src="img/c1.jpg", alt="")
			.img
				img(src="img/c1.jpg", alt="")
section.career-section.career-section2
	.container
		h2.home-title.text-center Chế độ đãi ngộ
		.home-des.text-center “Đây là 4 giá trị cốt lõi chúng tôi luôn hướng đến trong việc tuyển dụng và phát triển cơ hội cho từng cá nhân”
		.policy-list
			.row
				.col-12.col-md-6.col-lg-3
					.policy
						figure
							.policy-icon
								img(src="img/i1.png", alt="")
							figcaption
								.policy-name Lương, thưởng
								.policy-des Lương, thưởng hấp dẫn và các khoản phụ cấp. Được thưởng Lễ, Tết, sinh nhật và các dịp đặc biệt
				.col-12.col-md-6.col-lg-3
					.policy
						figure
							.policy-icon
								img(src="img/i1.png", alt="")
							figcaption
								.policy-name Lương, thưởng
								.policy-des Lương, thưởng hấp dẫn và các khoản phụ cấp. Được thưởng Lễ, Tết, sinh nhật và các dịp đặc biệt
				.col-12.col-md-6.col-lg-3
					.policy
						figure
							.policy-icon
								img(src="img/i1.png", alt="")
							figcaption
								.policy-name Lương, thưởng
								.policy-des Lương, thưởng hấp dẫn và các khoản phụ cấp. Được thưởng Lễ, Tết, sinh nhật và các dịp đặc biệt
				.col-12.col-md-6.col-lg-3
					.policy
						figure
							.policy-icon
								img(src="img/i1.png", alt="")
							figcaption
								.policy-name Lương, thưởng
								.policy-des Lương, thưởng hấp dẫn và các khoản phụ cấp. Được thưởng Lễ, Tết, sinh nhật và các dịp đặc biệt
section.career-section.career-section3
	.container
		h2.home-title.text-center Vị trí tuyển dụng
		table.career-table
			tr
				th Vị trí ứng tuyển
				th Số lượng ứng tuyển
				th Địa điểm
				th Hạn nộp hồ sơ
			tr
				td 
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
						.label.new Mới
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
						.label.new Mới
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
			tr
				td
					a(href="#!") Tuyển dụng vị trí Phó tổng giám đốc Marketing
				td 01
				td tp.Hồ Chí Minh
				td 21.02.2018
section.career-section.career-section4
	.container
		.career-contact
			.icon
				img(src="img/ci1.png", alt="")
			.title Liên hệ tuyển dụng
			.des Nếu còn thắc mắc liên quan đến quy trình tuyển dụng, vui lòng liên hệ với Kim Oanh để được giải đáp đầy đủ và chi tiết nhất.
			.btn-wrap
				a.btn-contact(href="#!") Liên hệ ngay
section.career-section.career-section5
	.container
		h2.home-title.text-center Địa điểm nộp hồ sơ
		.place-list
			.row
				.col-12.col-lg-4
					.place-col
						h3.place-title Đối với các vị trí khối văn phòng
						.place-name TRỤ SỞ CÔNG TY CP DỊCH VỤ THƯƠNG MẠI & XÂY DỰNG ĐỊA ỐC KIM OANH
						ul
							li Lô C, Đường Lê Lợi, P. Hòa Phú, TP.Thủ Dầu Một, Bình Dương
							li Tel: (0650) 3 554 999 – 172 / Hotline: 0937.09.43.43 gặp Ms. Hương – P. HCNS
							li Mail: tuyendung@diaockimoanh.com.vn  Web: www.diaockimoanh.com.vn
				.col-12.col-lg-8
					h3.place-title Đối với các vị trí khối văn phòng
					.row
						.col-12.col-md-6
							.place-col
								.place-name CHI NHÁNH HÀNG XANH - TP.HCM
								ul
									li Địa chỉ: 355 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, TP.Hồ Chí Minh
									li Tel: (028) 35136066 - 0926.448.789 gặp Ms. Trang
									li Email: thuynhung@diaockimoanh.com.vn
							.place-col
								.place-name CHI NHÁNH HÀNG XANH - TP.HCM
								ul
									li Địa chỉ: 355 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, TP.Hồ Chí Minh
									li Tel: (028) 35136066 - 0926.448.789 gặp Ms. Trang
									li Email: thuynhung@diaockimoanh.com.vn
							.place-col
								.place-name CHI NHÁNH HÀNG XANH - TP.HCM
								ul
									li Địa chỉ: 355 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, TP.Hồ Chí Minh
									li Tel: (028) 35136066 - 0926.448.789 gặp Ms. Trang
									li Email: thuynhung@diaockimoanh.com.vn
						.col-12.col-md-6
							.place-col
								.place-name CHI NHÁNH HÀNG XANH - TP.HCM
								ul
									li Địa chỉ: 355 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, TP.Hồ Chí Minh
									li Tel: (028) 35136066 - 0926.448.789 gặp Ms. Trang
									li Email: thuynhung@diaockimoanh.com.vn
							.place-col
								.place-name CHI NHÁNH HÀNG XANH - TP.HCM
								ul
									li Địa chỉ: 355 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, TP.Hồ Chí Minh
									li Tel: (028) 35136066 - 0926.448.789 gặp Ms. Trang
									li Email: thuynhung@diaockimoanh.com.vn
							.place-col
								.place-name CHI NHÁNH HÀNG XANH - TP.HCM
								ul
									li Địa chỉ: 355 Điện Biên Phủ, Phường 15, Quận Bình Thạnh, TP.Hồ Chí Minh
									li Tel: (028) 35136066 - 0926.448.789 gặp Ms. Trang
									li Email: thuynhung@diaockimoanh.com.vn